@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #FFFFFF;
    font-size: 0.9rem;
}

a{
    text-decoration: none;
}

a:link
    {color: #FFFFFF;}

img{
    max-width: 75%;
}

li{
    list-style: none;
}

ul{
    display: flex;
}

/*----
loading
---*/
.loading_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*---
    z-indexは重なりの優先順位を表せる。
    値が高いほど優先される。
    ---*/
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: #90BDB3;
    transition: all 0.5s linear;
}

.loading_bg.loaded{
    opacity: 0;
    /*---
    opacityは透明度
    ---*/
    visibility: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-size: 100px;
    line-height: 1.5;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #FFFFFF;
    background:
      radial-gradient(1.13em at 50% 1.6em,#FFFFFF 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em,#0000 99%,#FFFFFF 101%) 50% .8em/3.2em 100% repeat-x  text;
    animation: l9 2s linear infinite;
  }
  .loader:before {
    content: "Loading";
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
  }
  @keyframes l9 {
    to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
  }


.section-title{
    display: inline-block;
    font-size: 2rem;
    text-align:center;
    margin-bottom: 60px;
}

.content-title{
    font-size: 2rem;
    margin: 10px 0;
}

.wrapper{
    max-width: 960px;
    padding:0 4%;
    text-align: center;
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: bold;
}

/*-----------------------
ヘッダー
-------------------------*/
#header{
    display: flex;
    padding:0 4%;
    margin: 0 auto;
    background-color: #90BDB3;
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: bold; 
}

#header a:hover{
    opacity:0.3;
}

.site-title a{
    display:block;
}

.content-title a:visited{
    color:#FFFFFF;
}

.header-title-left{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
    color: #000;
}

.header-title-right1{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
    color: #000;
    float: left;

}

.header-title-right2{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
    color: #000;
    text-align: right;
}

/*----------
Main Visual
----------*/

#mainvisual{
    margin-bottom: 80px;
}

#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

main {
    background-color: #90BDB3;
    color: #FFFFFF;
}

/*---------------
About
----------------*/
#about .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

#about .text{
    text-align: left;
}

/*----------
footer
-----------*/
#footer{
    font-size: 0.5rem;
    padding: 100px 0;
    text-align: center;
    background-color: #90BDB3;
    color: #FFFFFF;
}

/*----------
SP
----------*/
@media screen and (max-width: 600px){
    /*----------
    Main Visual
    -----------*/
    #mainvisual img{
        height: calc(100vh - 60px);
    }
    
    /*----------
    About
    -----------*/
    #about .content{
        flex-direction: column;
    }

    #about img{
        margin-right: 0;
    }

/*----------
WORKS
----------*/
#WOEKS ul{
    display: flex;
    justify-content: space-between;
}

#WORKS li{
    width: 32%;
}

   
}